<div class="about-background">
	<div class="background-overlay">
		<div class="main-content about-content">
			<h1 class="page-title">ABOUT AMY</h1>
			<p>Amy specializes in family photography and weddings.</p>
			<p>She studied art at The University of Georgia.</p>
			<p>She lives in Atlanta, GA with her husband, her two sons, and their dog Gus.</p>
			<p>Other facts here.</p>
		</div>
	</div>

</div>
