<div class="about-background">
	<div class="background-overlay">
		<div class="main-content about-content">
			<h1 class="page-title">ABOUT AMY</h1>
			<p>I am a photographer based out of Atlanta, GA, but I love to travel as well! As general as this may sound, my specialty is people. I just love photographing people! I find huge value in capturing the beauty of a special moment in a unique way and being able to look back on it forever. Having amazing photos of my kids makes my heart want to burst, and I want my clients to experience that same feeling! Whether you're looking for a wedding photographer, wanting some special maternity photos, or want to capture your kids or family at this moment in time, I would love to chat with you!</p>
			<p>A little more about me:
			My husband Madhur and I have been married for seven years! We have two sons, ages three and one. They are suuuuuper adorable, although I know I am biased. I graduated from the University of Georgia with an art degree. We recently moved to the Atlanta area from St. Simons Island, and a piece of our hearts is still there.</p>
		</div>
	</div>

</div>

<script>
  $('#about-nav-link').children('span').addClass('active-link').removeClass('inactive-link');
</script>
