<div class="contact-background">
	<div class="background-overlay">
		<div class="main-content">
			<h1 class="page-title">GET IN TOUCH</h1>
			<div contact-details>
				<p class="contact-item"><a class='contact-link' href="mailto:amydeyphotography@gmail.com">
					<i class="fa fa-envelope-square fa-3x hoverable" aria-hidden="true"></i>
					<span>amydeyphotography@gmail.com</span>
				</a></p>
				<p class="contact-item"><a class='contact-link' href="https://www.instagram.com/amydeyphotography/">
					<i class="fa fa-instagram fa-3x hoverable" aria-hidden="true"></i>
					<span>@amydeyphotography</span>
				</a></p>
				<p class="contact-item"><a class='contact-link' href="https://www.facebook.com/Amy-Dey-Photography-141169619258904/">
					<i class="fa fa-facebook-square fa-3x hoverable" aria-hidden="true"></i>
					<span>Amy Dey Photography</span>
				</p>
			</div>
		</div>
	</div>
</div>

<script>
  $('#contact-nav-link').children('span').addClass('active-link').removeClass('inactive-link');
</script>
