// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-background{
	background-image: url(https://i.imgur.com/llsoACc.jpg?1);
	.background-overlay{
		background-color: RGBA(10, 10, 10, .6);
	}
}

.about-content{
	font-size: 20px;
  padding-right: 110px;
  padding-left: 110px;
}

