// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cb-slideshow,
.cb-slideshow:after {
    position: static;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.cb-slideshow:after {
    content: '';
}

.cb-slideshow li {
    list-style-type: none;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 120px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-origin: content-box;
    opacity: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(https://i.imgur.com/pT4JArY.jpg?1)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(https://i.imgur.com/Dx3Dz42.jpg?2);
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(https://i.imgur.com/vwclBnx.jpg?1);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(https://i.imgur.com/Dx3Dz42.jpg?1);
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(https://i.imgur.com/Dx3Dz42.jpg?1);
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(https://i.imgur.com/Dx3Dz42.jpg?1);
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
